@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/OpenSans/OpenSans.ttf);
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.banner {
    background-image: url('/assets/img/banner.png'); /* Replace with your logo image URL */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0; /* Adjust the padding as needed for responsiveness */
    text-align: center;
}

.subheading {
    font-size: 24px;
    color: #333;
    margin-top: 20px; /* Adjust the margin for spacing */
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0; /* Background color for better visibility */
    padding: 10px 0; /* Add padding for better spacing */
}

a {
    color: #999;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .banner {
        padding: 20% 0; /* Adjust the padding for smaller screens */
    }

    .subheading {
        font-size: 18px; /* Decrease font size for smaller screens */
    }
}
